<h1>Lista de registros de mantenimiento</h1>

<% if @registers.any? %>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Restaurant</th>
        <th scope="col">Nombre Dispositivo</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <% @registers.each do |register| %>
        <tr>
          <td><%= register.restaurant_name %></td>
          <td><%= register.device.name %></td>
            <td class="<%= register.status == 'active' ? 'text-success' : register.status == 'maintenance' ? 'text-danger' : '' %>">
            <%= register.status %>
            </td>        
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No hay dispositivos disponibles.</p>
<% end %>